@import 'base/variables'
*
	padding: 0
	margin: 0
	border: 0
	box-sizing: border-box
html, body 
	height: 100%
	font-size: 15px
	font-family: 'Montserrat'


.wrapper
	min-height: 100%


.container-navbar
	margin: 0 0 0 -1.6rem
	display: flex
	justify-content: space-between
	align-items: center
	//width: 100%

.container
	margin: 0 auto
	padding: 5.866667rem 2.6667rem 5.3333rem 2.6667rem
	max-width: 1182px



.blocks-wrapper
	display: flex
	justify-content: space-between

.container-footer
	margin: 0 auto
	max-width: 1182px
	padding: 0 2.6667rem 0 2.6667rem

.container-form
	width: 1182px
	margin: 0 auto
	padding: 5.866667rem 2.6667rem 5.3333rem 2.6667rem
	display: flex
	justify-content: space-between
	align-items: center

@import 'base/mixins'
@import 'blocks/main'
@import 'blocks/buttons'
@import 'blocks/catalog'
@import 'blocks/titles'
@import 'blocks/tabs'
@import 'blocks/gallery'
@import 'blocks/about'
@import 'blocks/form'
@import 'blocks/footer'
@import 'blocks/pageup'
@import 'base/media'
