.button
    padding-top: 4.667rem
    padding: 1.8rem 3.4rem
    font-weight: 700
    font-size: 1.1334rem
    line-height: 124%
    color: $pink_color
    width: 20.6rem
    height: 4.93rem
    border: 2px solid $pink_color
    background-color: rgba(0, 0, 0, 0)
    transition: 0.5s all
    cursor: pointer
    &:hover
        color: $white_color
        background-color: $pink_color
    &__form
        margin-top: 0.2rem
        text-align: center
        width: 100% //260px
        height: 50px
        background: $pink_color
        font-weight: 600
        font-size: 17px
        color: $white_color
        padding: 13px 0 13px 0
.button__footer
    padding: 10px 44px
    width: 189px
    height: 39px
    background: $pink_color
    font-weight: 500
    font-size: 15px
    letter-spacing: -0.03em
    color: $white_color
    border: none
    margin-top: 14px
    cursor: pointer



        

