.catalog
    &__wrapper
        display: flex
        justify-content: space-between
    &__category-all
        padding: 10px 0
        font-family: 'Montserrat'
        font-weight: 600
        font-size: 20px
        line-height: 27px
        color: #252525
        cursor: pointer
        &:hover
            color: $pink_color
            transition: 0.5s all
        &__active
            color: $pink_color
            text-decoration: underline
            
    &__category-name
        padding: 10px 0
        font-family: 'Montserrat'
        font-weight: 600
        font-size: 20px
        line-height: 27px
        color: #252525
    &__category-li
        list-style-type: none
    &__category-link
        padding-bottom: 5px
        font-family: 'Montserrat'
        font-weight: 600
        font-size: 17px
        line-height: 27px
        color: #5E5E5E
        padding-left: 25px
        cursor: pointer
        &:hover
            color: $pink_color
            transition: 0.5s all
        &__active
            color: $pink_color
            text-decoration: underline
            
    &__list
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        width: 850px
    &__card
        display: flex
        flex-direction: column
        align-items: center
        width: 263px
        &__img
            width: 100%
            &:hover
                border: 2px solid $pink_color
                padding: 10px
                transition: 0.5s all

        &__name__en
            padding-top: 30px
            font-family: 'Montserrat'
            font-weight: 500
            font-size: 20px
            line-height: 24px
            text-align: center
            color: #000000
        &__name__rus
            padding-top: 5px
            font-family: 'Montserrat'
            font-weight: 400
            font-size: 17px
            line-height: 21px
            text-align: center
            color: #555555
        &__price
            padding-top: 20px
            font-family: 'Montserrat'
            font-weight: 700
            font-size: 20px
            text-align: center
            color: #000000