.main
    position: fixed
    z-index: 500
    width: 100%
    //background: url(../img/bg/main_bg.jpg) center (-146px/cover) no-repeat
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg/main_bg.jpg) center (-146px/cover) no-repeat
    &__flower
        display: none
        position: absolute
        left: 556px
        top: 604px
    &__shopping-cart
        &__wrapper
            position: relative
        &__round
            position: absolute
            top: -17px
            border-radius: 50%
            left: 13px
            display: flex
            min-height: 30px
            align-items: center
            justify-content: center
            min-width: 30px
            background-color: $pink_color
            color: $white_color
    
.oneLine
    display: flex
    align-items: center
    justify-content: space-between
.main-parts
    display: flex
    justify-content: space-between
    width: 100%
    list-style-type: none
    &__item
        padding: 0.67rem 1.4rem
        font-weight: 500
        font-size: 1.067rem
        color: $white_color
        border: 2px solid rgba(0, 0, 0, 0)
        transition: 0.5s all
        text-decoration-line: none
        &:hover
            color: $pink_color
            border: 2px solid $pink_color
            text-decoration: none 

.main-cart
    margin-left: 0.667rem
    display: flex
    justify-content: space-between

.main-contacts
    display: none
    flex-direction: column
    &__item
        padding-bottom: 0.6rem
        font-weight: 500
        font-size: 1.3rem
        text-align: left
        letter-spacing: -0.03em
        color: $white_color
        text-decoration: none